* {
    margin: 0;
    box-sizing: border-box;
}

.conteudo {
    display: grid;
    grid-template-areas: ". . . . conteudo-grid"
                         ". . . . conteudo-grid" 
                         ". . . . conteudo-grid"
                         ". . . . conteudo-grid";
    grid-template-columns: 20% ; 
    padding-right: 18%;                    
}

.conteudo-grid {
    grid-area: conteudo-grid;
    background-color: rgb(170, 164, 164);
    padding-left: 20px;
}

.abaixo-listas {
    margin:  16px;
}

p {
    margin: 14px;
}

footer {
    color: white;
    text-align: center;
}

body {
    background-image: url(pexels-aleksandar-pasaric-2338113.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}